*{
    max-width: 100vw !important;
}
body{
    margin: 0;
    overflow-x: hidden;
}

/* Prevent horizontal scrolling on mobile */
html, body {
  overflow-x: hidden;
}

/* Ensure mobile menu does not cause horizontal scrolling */
.drawer {
  max-width: 100vw;
  overflow-x: hidden;
}